$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* -------- VARIAVEIS -------- */
$colorf: #1a4a68;
$bg-linkmenu: #f29b19;
$color-box: #c9a728;
$azul: #1e3645;

.browsehappy { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;}
.clear {clear: both;}
.no_padding { padding: 0;}

/* STYLE INIT */
body {margin: 0; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

/* -------- HEADER -------- */
.wrapper-header{ width: 100%; height: 543px; background: url(../images/bg-header.jpg) no-repeat center center fixed; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; z-index: 1;
    header{ width: 100%; height: 100%; background: url(../images/bg-cristo.png) no-repeat center center;
        .desktop{ width: 1237px; height: 108px; background: url(../images/bg-nav.png) no-repeat; margin: 0 auto; position: relative; top: 47px;
            h1{margin: 0; width: auto; height: auto; position: absolute; left: 178px; top: 25px;}
        }
    }
}
.mobile{ width: 100%; background: rgba(255, 255, 255, 0.7); position: fixed; display: none; z-index: 9;
    h1{ margin: 0; width: 158px; float: left;}
}
#trigger-overlay{ position: absolute; right: 10px; top: 10px;
    &:before{ width: 10px; height: 10px; content: url(../images/menu.png);}
}
.wrapper-nav{ width: 70%; float: right; margin-top: 45px;
    ul{ margin: 0 auto; padding: 0; width: 100%;
        li{list-style: none; display: inline-block; padding: 7px; border-radius: 5px; font-size: 14px; margin: 0 6px;
            &:hover, &:focus, &:active{ background: $bg-linkmenu;
            > a{ color: #fff; text-decoration: none;}
            }
            a{ color: $colorf;}
        }
    }
}
.box_event{ width: 60%; min-width: 845px; height: auto; margin: 0 auto; background: rgba(33, 57, 71, 0.955); top: 180px; position: relative; border-radius: 5px; padding: 20px; text-align: center; z-index: 8;
    h2{margin: 0; font-size: 3em; color: #fff;}
    h3{ margin: 0; font-size: 2em; color: #fff;}
    strong{ color: $color-box;}
}
.box_local{width: 30%; min-width: 423px; height: auto; margin: 0 auto; background: rgba(0, 0, 0, 0.6); top: 220px; position: relative; border-radius: 5px; border: 3px solid #fff; padding: 15px; text-align: center; z-index: 8;
    h4{margin: 0; color: #fff; font-size: 1.3em;}
}
.ball_cristo { position: absolute; right: 50px; top: 125px; z-index: 1;}
/* ------ END HEADER ------ */
/* ------ SECTION BUTTON INSCREVA-SE --- */
.container-section1{ padding: 20px 15px;}
.wrapper-button{ width: 100%; height: auto; padding: 10px; position: relative;}
.button-inscrevase { width: 310px; margin: 0 auto;}
.btn-custom {
  background-color: #194a6b;
  width: 100%;
  padding: 13px 23px;
  border: 0;
  border-radius: 7px;
  box-shadow: 1px 1px 0px 2px #0c3147;
  text-transform: capitalize;
  font-size: 17px;
  color: #f2c51a;
  position: relative;
  -webkit-box-shadow: 1px 1px 0px 2px #0c3147;
  -moz-box-shadow: 1px 1px 0px 2px #0c3147;
  -o-box-shadow: 1px 1px 0px 2px #0c3147;
  box-shadow: 1px 1px 0px 2px #0c3147;
  &:hover{
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    background: #194a6b;
    color: #f2c51a;
    top: 2px;
    opacity: 0.9;
  }
}
/* ----- END SECTION BUTTON INSCREVA-SE ------ */
/* ----- SECTION INFORMAÇÕES ICONES ----- */

.wrapper-info-icons{ position: relative; top: 40px;
  .icon-location_info{ position: relative; display: block; width: 80px; height: 80px; float: left; border: 3px solid #b9b8bf; border-radius: 50%; 
    i{position: absolute; top: 15%; left: 16%; font-size: 37px; color: #3e647e;}
  }
  .icon-calendar_info{ position: relative; display: block; width: 80px; height: 80px; float: left; border: 3px solid #b9b8bf; border-radius: 50%; 
    i{position: absolute; top: 15%; left: 16%; font-size: 37px; color: #3e647e;}
  }
  .icon-mic_info{ position: relative; display: block; width: 80px; height: 80px; float: left; border: 3px solid #b9b8bf; border-radius: 50%; 
    i{position: absolute; top: 15%; left: 17%; font-size: 37px; color: #3e647e;}
  }
  .icon-users_info{ position: relative; display: block; width: 80px; height: 80px; float: left; border: 3px solid #b9b8bf; border-radius: 50%; 
    i{position: absolute; top: 16%; left: 14%; font-size: 37px; color: #3e647e;}
  }
  .content-box { overflow: hidden; float: left; width: 65%; padding: 14px 13px; line-height: 22px;
    strong{ font-size: 18px;}
    p{color: #ccc; font-size: 14px;}
  }
  /*Hover icons*/
  div.col-lg-3{
    &:hover{ transition: all 1s; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s;
      span{ border: 5px dotted #3e647e;
        i{ color: #f2c51a; top: 13%; left: 14%;}
      }
    }
  }
}
/* ----- END SECTION INFORMAÇÕES ICONES ----- */
/* ----- SECTION ABOUT / O EVENTO ----- */
.container-section2 {padding: 20px 15px;}
.wrapper-about{ margin-bottom: 30px; overflow: hidden;
  h3{ color: #194a6b; font-size: 50px;}
  div.col-lg-12{
    p{ font-size: 17px; color: #666;}
  }
}
.wrapper-oquevairolar{
  h4{color: #194a6b; font-size: 23px;}
  ul{padding: 0; list-style-position: inside; overflow: hidden; margin-top: 15px;
    li{ width: 50%; float: left; font-size: 17px;}
  }
}
.image-section2{
  img{ width: 100%;}
}
/* ----- END SECTION ABOUT / O EVENTO ----- */



/* Responsive */
@media screen and (max-width: 1280px) {
    .wrapper-header{ 
        header{ background: url(../images/bg-cristo-02.png) no-repeat center center;
            .desktop{ background: url(../images/bg-nav-02.png) no-repeat; width: 1034px;
                .wrapper-nav{width: 424px; margin-top: 20px; float: inherit; position: absolute; right: 200px;
                    ul{
                        li:nth-child(6){ margin-left: 80px;}
                    }
                }
            }
        }
    }
    .wrapper-info-icons{
      .content-box{ width: 60%;}
    }
}
@media screen and (max-width: 1060px) {
  /*HEADER*/
  .wrapper-header{ height: 350px;}
  .desktop{display: none;}
  .mobile{display: block;}
  .ball_cristo{ display: none;}
  .box_event{ width: 80%; top: 100px; min-width: inherit;
      h2{ font-size: 4vw;}
      h3{ font-size: 3vw;}
  }
  .box_local{ width: 45%; top: 140px; min-width: inherit;
      h4{font-size: 2.5vw;}
  }
  /*END HEADER*/
}
@media screen and (max-width: 991px){
  .wrapper-info-icons{
    .content-box{ width: 75%; text-align: center;}
  }
}
@media screen and (max-width: 768px) {
   /*HEADER*/
  .box_event{ width: 90%; top: 100px;
      h2{ font-size: 4vw;}
      h3{ font-size: 3vw;}
  }
  .box_local{ width: 60%; top: 140px;
      h4{font-size: 2.5vw;}
  }
  /*END HEADER*/
  .wrapper-info-icons{
    .content-box{ width: 80%;}
  }
  .wrapper-about{
    h3{ text-align: center;}
  }
  .wrapper-oquevairolar{
    h4{text-align: center;}
  }

}
@media screen and (max-width: 480px) {
    /*HEADER*/
  .box_event{ 
      h2{ font-size: 4.3vw;}
      h3{ font-size: 3.9vw;}
  }
  .box_local{ width: 80%;
      h4{font-size: 5vw;}
  }
   /*END HEADER*/
  .wrapper-info-icons{
      .content-box{ width: 70%;}
  }
  .wrapper-oquevairolar{
    ul{
      li{ width: 100%; text-align: center; list-style: none;}
    }
  }

}

