$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* -------- VARIAVEIS -------- */
$colorf: #1a4a68;
$bg-linkmenu: #f29b19;
$color-box: #c9a728;
$azul: #1e3645;

.browsehappy { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;}
.clear {clear: both;}

/* STYLE INIT */
body {margin: 0; padding: 0}

/* -------- HEADER -------- */
.wrapper-header{ width: 100%; height: 543px; background: url(../images/bg-header.jpg) no-repeat center center fixed; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
    header{ width: 100%; height: 100%; background: url(../images/bg-cristo.png) no-repeat center center;
        .desktop{ width: 1237px; height: 108px; background: url(../images/bg-nav.png) no-repeat; margin: 0 auto; position: relative; top: 47px;
            h1{margin: 0; width: auto; height: auto; position: absolute; left: 178px; top: 25px;}
        }
    }
}
.mobile{ width: 100%; background: rgba(255, 255, 255, 0.7); position: fixed; display: none;
    h1{ margin: 0; width: 158px; float: left;}
}
#trigger-overlay{ position: absolute; right: 10px; top: 10px;
    &:before{ width: 10px; height: 10px; content: url(../images/menu.png);}
}
.wrapper-nav{ width: 70%; float: right; margin-top: 45px;
    ul{ margin: 0 auto; padding: 0; width: 100%;
        li{list-style: none; display: inline-block; padding: 7px; border-radius: 5px; font-size: 14px; margin: 0 6px;
            &:hover, &:focus, &:active{ background: $bg-linkmenu;
            > a{ color: #fff; text-decoration: none;}
            }
            a{ color: $colorf;}
        }
    }
}
.box_event{ width: 60%; min-width: 845px; height: auto; margin: 0 auto; background: rgba(33, 57, 71, 0.955); top: 180px; position: relative; border-radius: 5px; padding: 20px; text-align: center; z-index: 8;
    h2{margin: 0; font-size: 3em; color: #fff;}
    h3{ margin: 0; font-size: 2em; color: #fff;}
    strong{ color: $color-box;}
}
.box_local{width: 30%; min-width: 423px; height: auto; margin: 0 auto; background: rgba(0, 0, 0, 0.6); top: 220px; position: relative; border-radius: 5px; border: 3px solid #fff; padding: 15px; text-align: center; z-index: 8;
    h4{margin: 0; color: #fff; font-size: 1.3em;}
}
.ball_cristo { position: absolute; right: 50px; top: 125px; z-index: 1;}
/* ------ END HEADER ------ */


/* ------ SECTION BUTTON INSCREVA-SE --- */
.wrapper-button{ width: 100%; height: auto; padding: 10px; position: relative;}
.button-inscrevase { width: 360px; margin: 0 auto;}
.btn-custom {
  background-color: #194a6b;
  padding: 13px 50px;
  border: 0;
  border-radius: 7px;
  box-shadow: 1px 1px 0px 2px #0c3147;
  text-transform: capitalize;
  font-size: 1.2vw;
  color: #f2c51a;
  position: relative;
  -webkit-box-shadow: 1px 1px 0px 2px #0c3147;
  -moz-box-shadow: 1px 1px 0px 2px #0c3147;
  -o-box-shadow: 1px 1px 0px 2px #0c3147;
  box-shadow: 1px 1px 0px 2px #0c3147;
  &:hover{
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    background: #194a6b;
    color: #f2c51a;
    top: 2px;
    opacity: 0.9;
  }
}
/* ----- END SECTION BUTTON INSCREVA-SE ------ */

/* ----- SECTION CONTENT ----- */

.icons-inform img {
  float: left;
  margin-right: 10px; 
}
.icons-inform span {
  color: #ccc; 
}
.icons-inform h4 {
  margin-top: 10px;
  margin-bottom: 5px; 
}
.icons-inform {
  float: left;
  margin-left: 20px;
  width: 255px;
  margin-top: 40px; 
}
#sobre-o-evento h1 {
  font-size: 40px !important;
  color: #1b4866 !important;
  margin-top: 30px; 
}
#sobre-o-evento h2 {
  font-size: 23px !important;
  color: #1b4866 !important;
  margin-top: 50px;
  margin-bottom: 20px;
}
#sobre-o-evento ul {
  width: 250px;
  float: left; 
  margin-left: -15px;
  margin-right: 50px;
}
#sobre-o-evento ul li {
  font-size: 16px !important;
  margin-bottom: 15px; 
}
#sobre-o-evento p {
  font-size: 17px !important;
  color: #666 !important; 
}
#sobre-o-evento {
  float: right; 
}

#programacao-palestrantes {
  margin-top: 120px; 
}
#programacao-palestrantes a {
  color: #f39b1a;
  text-decoration: none;
}
#programacao-palestrantes h1 {
  font-size: 40px !important;
  color: #1b4866 !important;
  margin-top: 30px; 
}
#programacao-palestrantes .programacao {
  width: 100%;
  border: 1px solid #ccc; 
  margin-bottom: 20px !important;  
}
#programacao-palestrantes .programacao .box-horario {
  width: 200px;
  height: 140px;
  background-color: #f5f5f5;
  float: left;
  margin-right: 10px; 
}
#programacao-palestrantes .programacao .descricao {
  width: 700px;
  height: 130px;
  padding: 5px;
  float: left;
  margin-right: 10px; 
}
#programacao-palestrantes .programacao .descricao h3 {
  font-size: 18px !important;
  margin-top: 5px;
  margin-bottom: 3px; 
  color: #5a5a5a;
}
#programacao-palestrantes .programacao .descricao span {
  font-size: 14px !important;
  font-weight: bold;
  color: #666;
  margin-bottom: 15px !important; 
}
#programacao-palestrantes .programacao .descricao p {
  font-size: 14px !important;
  color: #666; 
  font-weight: normal !important;
}
.box-horario span {
  text-align: center;
  color: #666;
  font-weight: bold;
  margin: 45px 0 0 75px;
  position: absolute;
  width: 50px;
} 
#FotoPalestrante {
  margin: 6px 0 0 13px;
  float: left;
}
#FotoPalestrante img {
  border-radius: 7px;
}
#BolaLogotipo {
  width: 1150px;
  margin: auto;
}
#BolaLogotipo img {
  margin: -133px 0 0 850px;
}
.horarios {
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 20px 0px;
  color: #1b4866 !important;
  font-size: 18px;
  font-weight: bold;
}

.main-menu ul {
  margin: -65px 0 0 165px;
}
.main-menu ul li{
  list-style: none;
display: inline-block;
padding: 7px;
border-radius: 5px;
font-size: 16px;
margin: 21px 10px 0 11px; 
}
.main-menu a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.main-menu a:hover {
  background: #f29b19;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;  
}
.action {
 background: #f29b19;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;  
  color: #fff !important; 
}

#menufixo {
  width: 100%;
  height: 60px;
  background-color: #1b4866;
  position: fixed;
  z-index: 9999;
  display: none;
}
#centermenu {
  width: 1200px;
  margin: auto;
}
#centermenu img {
  margin-top: 3px;
}
#patrocinio-ul li {
  list-style: none;
  float: left;
  margin: 0 20px;
}
#apoio-ul li {
list-style: none;
  float: left;
  margin: 0 30px;
}
#apoio-ul {
  width: 882px;
}

#section-patrocinador{
  margin-top: 100px;
}
#section-patrocinador h1 {
  font-size: 40px !important;
  color: #1b4866 !important;
  margin-top: 30px; 
}
#section-patrocinador h3 {
  font-size: 25px !important;
  color: #1b4866 !important;
  margin-top: 30px; 
}
#section-location {
  margin-top: 120px;
}
#section-location h1 {
  font-size: 40px !important;
  color: #1b4866 !important;
  margin-top: 30px; 
}
#dadosdolocal p {
  width: 320px;
  color: #a1a1a1;
}
#dadosdolocal span {
 color: #666; 
}
#bloco {
  float: left;
}
#dadosdolocal img {
  float: right;
  margin: -120 0 0 40px;
}
#maps {
  margin-top: 40px;
}
#section-hotel {
  margin-top: 100px;
}
#section-hotel  h1 {
  font-size: 40px !important;
  color: #1b4866 !important;
  margin-top: 30px; 
}
#BoxGeral {
  width: 1015px;
  margin: auto;
}
#BoxGeral img {
  float: left;
  margin-right: 10px;
  margin-bottom: 50px;
}
#BoxGeral li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 14px;
}
#BoxGeral a {
  color: #f29b19;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
#hotel01 {
  width: 450px;
  border: 1px solid #ccc;
  padding: 15px;
  float: left;
  margin-right: 50px;
}
#hotel02 {
  width: 450px;
  border: 1px solid #ccc;
  padding: 15px;
  float: left;
}
#section-contato {
  margin-top: 120px;
}
#section-contato  h1 {
  font-size: 40px !important;
  color: #1b4866 !important;
  margin-top: 30px; 
}
footer {
  background: #000;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  font-size: 14px;
  width: 100%;
  height: 45px;
  padding-top: 10px;
}

/* ----- SECAION CONNTENT  END ----- */

/* Responsive */
@media screen and (max-width: 1280px) {
    .wrapper-header{ 
        header{ background: url(../images/bg-cristo-02.png) no-repeat center center;
            .desktop{ background: url(../images/bg-nav-02.png) no-repeat; width: 1034px;
                .wrapper-nav{width: 424px; margin-top: 20px; float: inherit; position: absolute; right: 200px;
                    ul{
                        li:nth-child(6){ margin-left: 80px;}
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1060px) {
    .wrapper-header{ height: 350px;}

    .desktop{display: none;}
    .mobile{display: block;}
    .ball_cristo{ display: none;}

    .box_event{ width: 80%; top: 100px; min-width: inherit;
        h2{ font-size: 4vw;}
        h3{ font-size: 3vw;}
    }
    .box_local{ width: 45%; top: 140px; min-width: inherit;
        h4{font-size: 2.5vw;}
    }
}
@media screen and (max-width: 768px) {
   .box_event{ width: 90%; top: 100px;
        h2{ font-size: 4vw;}
        h3{ font-size: 3vw;}
    }
    .box_local{ width: 60%; top: 140px;
        h4{font-size: 2.5vw;}
    }
}
@media screen and (max-width: 480px) {
    .box_event{ 
        h2{ font-size: 4.3vw;}
        h3{ font-size: 3.9vw;}
    }
   .box_local{ width: 80%;
        h4{font-size: 5vw;}
   }
}

